@media (min-width:0px) {
    #special-resize-img-2 {
        height: 380px;
        width: 200px;
    }
}
@media (min-width:576px) {
    #special-resize-img-2 {
        height: 440px;
        width: 200px;
    }
    #gallery {
        height: 380px;
    }
}
@media (min-width:768px) {
    #special-resize-img-2 {
        height: 380px;
        width: 300px;
    }
}

@media (min-width:992px) {
    #special-resize-img-2 {
        height: 300px;
        width: 420px;
    }
}

@media (min-width:1200px) {
    #special-resize-img-2 {
        height: 300px;
        width: 500px;
    }
}
body {
    font-family: 'Avenir';
}

.row {
}

.goto {
}

.card-text {
    font-size: 15px;
}

#image-blurred-edge {
    background-image: url('otter.jpg');
    width: 200px;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
    border: solid black 1px;
}

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}








