body {
  font: 300 12pt/15pt "DINPro", "Helvetica", sans-serif;
  margin: 0 auto; 
  background-color:#EFEFEF;
}
h2 {
  padding-left:5%;
}
p {
  padding-left:5%;
  padding-right:5%;
}
a {
  display: inline;
  position:relative;
  color: grey;
}
.icons {
  float:right;
}
.menu {
  display: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.aboutme {
  float: left; 
  width: 65%
}

@media (max-width: 1200px) {
  .aboutme {
    float: left; 
    width: 50%;
  }
}

@media (max-width: 800px) {
  .aboutme {
    float: left; 
    width: 35%;
  }
}

@media (max-width: 600px) {
  .aboutme {
    float: left; 
    width: 100%;
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 4px;
    text-decoration: none;
    font-size: 17px;
}
  /*
  .navbar a {
    display: none;
  }
  .icons a {
    display: block;
  }
  .menu {
    display: block;
  }
  .menu a {
    display: block;
    float: left;
  }
  #myLinks {
    display: none;
  }*/
}





