body {
    font: 300 12pt/15pt "DINPro", "Helvetica", sans-serif;
    margin: 0 auto; 
    background-color:orange;
}

h3 {
    padding-left:10%;
}
p {
    padding-left:10%;
}
a {
	display: inline;
    position:relative;
    color: grey;
}
hr {
	margin-top: -20px;
	width:90%
}

.inner {
	padding-top:10px;
	padding-bottom:20px;
	height:100%;
	width: 800px; margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border:1px solid black; 
	background-color:white;
}
.icons {
	padding-left:47%;
}