body {
    background-image:url(../img/background5.jpg);
    font: 400 18pt/24pt "DINPro", "Helvetica", sans-serif;
    margin: 0 auto; 
    background-color:#e1e9e8;

}



#selectStatus {
    display: none;
    margin-bottom: 30px;
}


#searchButton {
    margin-left: 30px;
}

#add {
    display: none;
}

#rmbyname {
    display: none;
}

#rmbynum {
    display: none;
}

#cs {
    display: none;
}


.inner {
padding-top:1px;
padding-bottom:60px;
height:100%;
width: 1300px; margin: 0 auto; 
background-color:white;
border-radius: 10px;
box-shadow: 50px -16px teal;
}

.menu {
    margin: 0;
    padding: 0;
    display: inline;
    margin-left:20px;
    color:  teal;
    text-decoration:none;

} 


.nav {
    text-align: center;
    margin-bottom:40px;
}

header {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top:30px;
    margin-bottom:20px;
}

h2 {
    
    text-align: center;
    
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}




form {
    border: none;
    padding: 2rem;
    margin: 2rem auto;
    width: 66%;
}


label, input, textarea, select, option {
    font: 400 18pt/24pt "DINPro", "Helvetica", sans-serif;
}
input, textarea, select, option {
    border: 1px solid #ccc;
    padding: 0.25rem;
}


input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    padding: 0.5rem 2rem;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #f3f3f3;
}
input[type="submit"]:active,
input[type="reset"]:active {
    border-color: #999;
    background-color: #ccc;
}

input#otherdept {
    display: none;
    margin-left: 20rem;
}


label {
    cursor: pointer;
    display: block;
    margin: 2rem 0;
}
label:first-child {
    margin-top: 0;
}
label:after {
    clear: both;
    display: table;
    content: " ";
}

label span.label {
    float: left;
    display: block;
    width: 20rem;
}
label span.error {
    color: red;
    padding-left: 1rem;
}

label input {
    float: left;
}


textarea {
    max-width: 100%;
}

fieldset {
    border: 1px solid #ccc;
    margin: 3rem 0;
}


input:invalid {
  outline: 2px solid red;
  background-color: #FFC6B3;
}
